@tailwind base;
@tailwind components;
@tailwind utilities;


.bottom-0 {
    position: absolute;
    bottom: 0;
}

.z-index-n1 {
    z-index: 0;
}



@media (max-width: 640px) {
    .corner-illustration {
        transform: scale(0.6);
        bottom: -3em;
    }

    .corner-illustration.left {
        left: -3em;
    }

    .corner-illustration.right {
        right: -3em;
    }
}